.btn {
  border-radius: 5px;
  padding: 7.5px !important;
  font-size: 12px !important;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-weight: lighter;
  transition:background-color .3s ease;
}
.btn.classic, .btn{
  background: rgb(16, 16, 16);
  border: 1px solid rgb(58, 58, 58);
  color: white;
}z
.btn.submit{
  background-color: rgb(239, 239, 239);
  color: #101010;
  font-weight:normal;
}

.btn:hover {
  border: 0.5px solid white !important;
  color: white !important;
}
.btn.submit:hover{
  background-color: #dcdcdc;
  color: #000000; 
}

.btnWrapper{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn.activePage {
  /* background-color: #333; */
  color: var(--color-secondary) !important;
  border: 1.5px solid var(--color-secondary) !important;
  font-weight: bold;
}
.btn.activePage:hover{
 background-color: transparent !important;
}

.subContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  animation: fadeIn 0.4s ease;
}
/* ==== Search Bar ==== */

.cstmbtn{
  /* color: red; */
  height: 40px;
  width: 40px;
  border-radius: 50%;
  /* background-color: rgba(24, 24, 24, 0.2) !important; */
  margin: 0;
  padding: 0px;
  font-size: 14px !important;
  color: rgb(78, 78, 78) !important;
  border: 0.5px solid rgb(78, 78, 78) !important;
  

}
.pgctrl{
  background-color: transparent !important;
}
.pgctrl:hover{
  border: none !important;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

