html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 100vh; */
  box-sizing: border-box;
  background-color: var(--color-bg-darker);
  color: white;
  font-family: var(--primaryFont);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  box-sizing: border-box;
}