:root {
  --primaryFont: "Open Sans", sans-serif;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 100vh; */
  box-sizing: border-box;
  background-color: #000000;
  color: white;
  font-family: var(--primaryFont);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  box-sizing: border-box;
}