:root {
  --primaryFont: "Open Sans", sans-serif;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  /* min-height: 100vh; */
  box-sizing: border-box;
  background-color: #000000;
  color: white;
  font-family: var(--primaryFont);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  box-sizing: border-box;
  padding-bottom: 5rem;
}

.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 95vw;
  margin: 20px auto;
  gap: 5em;
}
