.navigationBar {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px 2.5vw;
  box-sizing: border-box;
  gap: 10px;
  font-size: 15px;
  text-transform: capitalize;
}

/* Right section */
.right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  flex-grow: 3;
}

.right .logo {
  height: 30px;
  display: block;
  object-fit: contain;
  align-self: center;
}

.right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.right ul a {
  color: white;
  text-decoration: none;
}

/* Left section */
.left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2em;
  flex-grow: 2;
  box-sizing: border-box;
}

.profileIcon {
  color: white;
  font-size: 30px;
}
