.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 95vw;
  margin: 20px auto;
  gap: 5em;
}

.subContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  gap: 10px;
}

/* === videoBoxWrapper (Outer Most Div) === */
.subContainer .videoBoxWrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}

/* === videoBox (Wrapper Around Link & Video) === */
.subContainer .videoBox {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: #1B1B1B;
  width: 100%;
}

/* === videoLink (Link Wrapper) === */
.subContainer .videoLink {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* === video (Video Itself) === */
.subContainer .videoBox video {
  width: 100%;
  height: 12.5em;
  object-fit: cover;
  background-position: center;
}

/* === title (Below the Video) === */
.title {
  font-size: 10px;
  color: grey;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  text-align: center;
  margin: 0;
  padding: 0.3em 0;
  width: 100%;
  transition: color 0.5s ease;
}

.videoBoxWrapper:hover  .title{
  color: white;
}
