.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 95vw;
  margin: 20px auto;
  gap: 5em;
}

.subContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  gap: 10px;
}

/* === videoBoxWrapper (Outer Most Div) === */
 .videoBoxWrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}

/* === videoBox (Wrapper Around Link & Video) === */
 .videoBox {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: #1B1B1B;
  width: 100%;
}

/* === videoLink (Link Wrapper) === */
 .videoLink {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* === video (Video Itself) === */
 .videoBox video {
  width: 100%;
  height: 15em;
  object-fit: cover;
  background-position: center;
}

/* === title (Below the Video) === */
.title {
  font-size: 10px;
  color: grey;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  text-align: center;
  margin: 0;
  padding: 0.3em 0;
  width: 100%;
  transition: color 0.5s ease;
}

.videoBoxWrapper:hover  .title{
  color: white;
}
.toast-notification {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--color-bg-darker);
  /* border: 1px solid var(--color-border); */
  color: white;
  padding: 12px 18px;
  /* border-radius: 5px; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  font-size: 12px;
  animation: fadein 0.3s ease, fadeout 0.3s ease 3.7s;
}
.indicateCircle{
  font-size: 8px;
  color: rgb(11, 229, 77);
}

/* Optional: smooth fade-in and fade-out animation */
@keyframes fadein {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes fadeout {
  from { opacity: 1; transform: translateY(0); }
  to   { opacity: 0; transform: translateY(10px); }
}
