@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Import component-specific styles */
@import '../src/styling/Global.css';
@import '../src/styling/Navbar.css';
/* @import '../src/styling/VideoGrid.css'; */
@import '../src/styling/Spinner.css';
@import '../src/styling/Buttons.css';
@import '../src/styling/Effects.css';
@import '../src/styling/Library.css';
@import '../src/styling/SearchResults.css';
@import '../src/styling/ScrollToggleButton.css';
/* @import '../src/styling//PageNotFound.css'; */

@font-face {
  font-family: "oracle";
  src: url("../src/fonts/Oracle/ABCOracle-Regular-Trial.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'onest'; /* A name you choose */
  src: url('./fonts/Onest-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppins'; /* A name you choose */
  src: url('./fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primaryFont: "Open Sans", sans-serif;
  --color-bg-dark: rgb(16, 16, 16);
  --color-bg-darker: rgb(0, 0, 0);
  --color-bg-input: #1c1c1c;
  --color-border: rgb(58, 58, 58);
  --color-fontColor: white;
  --color-light-text: rgb(232, 232, 232);
  --color-muted-text: rgb(202, 202, 202);
  --color-popup-success: #45de78;
  --color-popup-error: #dc3545;
  --color-popup-warning: #ffd607;
  --color-secondary: rgb(234, 0, 0);
  --color-accent:rgb(255, 255, 255);
}
/* rgb(16, 16, 16) */

*{
    font-family: oracle !important;
}
