@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Import component-specific styles */
@import '../src/styling/Global.css';
@import '../src/styling/Navbar.css';
/* @import '../src/styling/VideoGrid.css'; */
@import '../src/styling/Spinner.css';
@import '../src/styling/Buttons.css';
@import '../src/styling/Effects.css';
@import '../src/styling/Library.css'
/* @import '../src/styling//PageNotFound.css'; */